<div class = 'notification'>グループを作成しました</div>
<div class = 'chat'>
  <div class = 'left'>
    <div class = 'leftup'>
      <h3 class = 'leftup__user'>test-user</h3>
      <ul class = 'leftup__icons'>
        <li class = 'leftup__newgroup'>
          <i class="fa fa-edit"></i>
        </li>
        <li class = 'leftup__editaccount'> 
          <i class="fa fa-cog"></i>
        </li>
      </ul>
    </div>
    <div class = 'leftdown'>
      <h4 class = 'leftdown__test'>test</h4>
      <h5 class = 'leftdown__newcomment'>さようなら</h5>
      <h4 class = 'leftdown__test'>sample-group</h4>
      <h5 class = 'leftdown__newcomment'>hello</h5>
      <h4 class = 'leftdown__test'>example</h4>
      <h5 class = 'leftdown__newcomment'>まだメッセージがありません</h5>
    </div>
  </div>
  <div class = 'right'>
    <div class = 'rightup'>
      <h4 class = 'rightup__group'>test-group</h4>
      <h5 class = 'rightup__member'>test-member</h5>
      <a class= 'rightup__edit' href = "#">Edit</a>
    </div>
    <div class = 'rightdown'>
      <h4 class = 'rightdown__username'>test-user</h4>
      <h4 class = 'rightdown__date'>2019/2/13(WED)</h4>
      <h5 class = 'rightdown__comment'>こんにちは</h5>
      <h4 class = 'rightdown__username'>test-user</h4>
      <h4 class = 'rightdown__date'>2019/2/13(WED)</h4>
      <h5 class = 'rightdown__comment'>さようなら</h5>
      <form class = 'rightdown__form'>
        <div class = 'rightdown__form__messages'>
          <input placeholder="type a message" class="rightdown__form__newmessage" type="text">
          <label class = 'rightdown__form__image'>
            <i class="fa fa-image"> </i>
          </label>
        </div>
        <input type="submit" name="commit" value="Send" class="rightdown__form__submit" data-disable-with="Send">
      </form>
    </div>
  </div>
</div>

