.notification{
  background-color: #38AEF0;
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}
.left{
  width: 300px;
  float: left;
  height: 100vh;
  .leftup {
    background-color: #253541;
    padding:0 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__user{
      display: flex;
      font-size: 16px;
      font-weight:  bold;
      color: #FFFFFF;
    }
    &__icons{
      margin-left: 0.3rem;
      display: flex;
      color: #FFFFFF;
    }
    &__editaccount{
      margin-left: 0.3rem;
    }
  }
  .leftdown {
    background-color: #2f3e51;
    padding:20px 20px 0;
    height: calc(100vh - 100px);
    &__test{
      font-size: 15px;
      font-weight:  bold;
      color: #FFFFFF;
    }
    &__newcomment{
      margin-top: 5px;
      margin-bottom: 40px;
      font-size: 11px;
      font-weight:  bold;
      color: #FFFFFF;
    }
  }
}

.right{
  width: calc(100vw - 300px);
  float: right;
  height: 100vh;
  .rightup{
    padding:0 40px;
    height: 100px;
    display: flex;
    position: relative;
    &__group{
      margin-top: 35px;
      color: #333333;
      font-size: 20px;
    }
    &__member{
      margin-top: 15px;
      color: #999999;
      font-size: 12px;
      position: absolute;
      bottom: 0;
    }
    &__edit{
      margin-top: 28px;
      display: flex;
      line-height: 40px;
      padding:0 20px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
    }
  }
  .rightdown {
    border-top-color: #eeeeee;
    background-color: #fafafa;
    padding:46px 40px 0;
    height: calc(100vh - 125px);
    position: relative;
    &__username{
      display: inline-block; 
      font-size: 16px;
      font-weight:  bold;
      color: #434A54;
    }
    &__date{
      display: inline-block; 
      margin-right: 10px;
      font-size: 12px;
    }
    &__comment{
      margin-top: 10px;
      margin-bottom: 40px;
      font-size: 14px;
      color: #434A54;
    }
    &__form{
        height: 90px;
        padding: 20px 40px;
        background-color: #ddd;
        display: flex;
        width: 100%;
        box-sizing: border-box;
        position: absolute;
        bottom:0;
        margin: 0 -40px;
      &__messages{
        position: relative;
        display: flex;
        width: 100%;
      }
      &__newmessage{
        height: 50px;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
        float: left;
        width: 100%;
      }
      &__image{
        position: absolute;
        font-size: 1.3rem;
        top: 10px;
        right: 10px;
      }
      &__submit{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
        display: flex;
        float: right;
      }
    }
  }
}